body {

 background-image: url(Images/landing-page-01.jpg); 
 background-size: cover; 
 background-repeat: no-repeat; 
 

}

.heading1 {

    color: white; 
    font-family: Arial, sans-serif;
    font-style: italic; 
    text-align: center;
    font-size: 250%;
    font-weight: 100;
    top: 200px;
    bottom: 100px; 
}

.heading2 {

    color: white; 
    font-family: sans-serif; 
    text-align: center;
    font-weight: bold;
    font-size: 250%;
    top: 110px;
    bottom: 110px;

}

.paragraph1 {

    color: white; 
    font-family: sans-serif; 
    text-align: center;
    font-size: 200%;
    top: 120px;
    bottom: 120px;

}

.paragraph2 {

    color: white; 
    font-family: sans-serif; 
    text-align: center;
    font-size: 100%;
    top: 130px;
    bottom: 130px;

}

.container1 {

    position: relative;
    width: 620px;
    padding: 10px;
    border: 0px solid gray;
    margin: 0;
    left: 340px; 
    align-content: center;
    top: -450px; 
    
    
}

.logo {

    position: relative;
    left: 200px;
    align-self: center; 
    
}

.h1 {

     position: relative;
     width:800px; 
     padding: 10px; 
     border: 0px;
     margin: 0;
     align-content: center;
     left: 220px;
     top: -300px; 

}

.h2 {

     position: relative;
     width:1200px; 
     padding: 10px; 
     border: 0px;
     margin: 0;
     align-content: center;
     left: 50px;
     top: -370px; 
    
}

.email {
 
    position: relative;
    width: 820px;
    padding: 10px;
    border: 0px solid gray;
    margin: 0;
    left: 200px; 
    align-content: center;
    top: -500px; 

}

#registerGoButton {

   background-color: rgb(31, 198, 57);
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    padding: 10px; 
}

#registerGoButton:hover {

    border: none;
    background:#067217;
    box-shadow: 0px 0px 1px #059f1d;
    

}

#emailField {

  width: 400px;
  height: 40px;
  background-color: #777;
  

}

.form {

  position: relative;
  left: 400px; 
  top: -500px; 

}

input::-webkit-input-placeholder {
   color: rgba(25, 25, 26, 0.5);
   text-transform: uppercase;
   font-family: sans-serif; 

}

.sticker {

    position: relative; 
    width: 200px;
	height: 200px;
	background: rgb(31, 198, 57);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 100px;
    font-family: sans-serif;
    font-style: normal; 
    left: 10px;
    top: -350px; 
    
}

.sticker p {
    
    position: relative;
    color: white; 
    font-size: 15px; 
    top: 80px;
    right: -15px; 
     
}


